/* *----------------------------------------------------------------------
GENERIC STYLES */



/* * HTML */
body{
    min-width: 307px;
}




/* * CLASSES */
.form-control:focus,
.my-btn:focus{
    box-shadow: none;
    outline: none;
}